html
    head
        title Register
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        style
            include ../public/stylesheets/index.css
    body
        header
            a(href='/' class='logo-a'): div(class='logo-container')
                img(class='logo-img' src="/images/book.svg" alt="This is my Logo")
                div(class='logo'): h4 Coursem
            div(class='search-bar-container')
                div(class='search-bar'): input(type=text placeholder="Search for your courses here...")
            nav
                ul(class='nav-links')
                    a(class='nav-link' href="./courses"): li Courses
                    a(class='nav-link' href="./users"): li Users
                    li(class='nav-link') 
                        div(class="dropdown dropdown-menu-right")
                            button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Login/Register
                            div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                                a(class="dropdown-item" href="./login") Login
                                a(class="dropdown-item" href="./register") Register
                                a(class="dropdown-item" href="#") Extra
        h1 This is the Register form
        p #{message}
        div(class="d-flex justify-content-center")
            form(action="./register" method="post" oninput='re_pass.setCustomValidity(re_pass.value != password.value ? "Passwords do not match." : "")')
                p
                label(for="username") Username:
                input(class="form-control" id="username" name="name" type='text' required)
                p
                label(for="account_type") Account Type:
                select(class="form-control" id="account_type" name="account_type")
                    option(value="General") General
                    option(value="Instructor") Instructor
                p
                label(for="university") University:
                select(class="form-control" id="university" name="university")
                    option(value="No University") No University
                    option(value="VITC") VIT Chennai
                    option(value="VITV") VIT Vellore
                span(class="help-block") Select your affiliation
                p
                label(for="real_name") Name:
                input(class="form-control" id="real_name" required name="real_name" type="text" placeholder="Enter your name here.")
                p
                label(for="password1") Password:
                input(class="form-control" id="password1" type='password' required name='password')
                p
                label(for="password2") Confirm password:
                input(class="form-control" id="password2" type='password' name='re_pass')
                p
                input(type='submit' value="Create account")
    
    //script(src="/scripts/reg-form-val.js")
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")